version: '3.8'

services:
    product-service:
      container_name: product-service
      build: ./product-service
      ports:
        - "8080:8080"
      networks:
        - dj-net
      depends_on:
        - postgres-db
        - eureka
      environment:
        - SPRING_PROFILES_ACTIVE=docker
    inventory-service:
      container_name: inventory-serivce
      build: ./inventory-service
      ports:
        - "8081:8081"
      networks:
        - dj-net
      depends_on:
        - mysql-db
        - eureka
      environment:
        - SPRING_PROFILES_ACTIVE=docker
    eureka:
      container_name: eureka
      build: ./eureka
      ports:
        - "8761:8761"
      networks:
       - dj-net
    apiGateWay:
      container_name: apiGateWay
      build: ./apiGateWay
      ports:
        - "8082:8082"
      networks:
        - dj-net
    postgres-db:
      image: postgres:latest
      container_name: postgres-container
      environment:
        POSTGRES_DB: product
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - "5432:5432"
      volumes:
        - postgres-data:/var/lib/postgresql/data
      networks:
        - dj-net
    mysql-db:
      image: mysql:latest
      container_name: mysql-db
      environment:
        MYSQL_DATABASE: inventory
        MYSQL_ROOT_PASSWORD: salam
        MYSQL_PASSWORD: salam
      ports:
        - "3306:3306"
      networks:
        - dj-net
    prometheus:
      image: prom/prometheus:latest
      container_name: prometheus
      ports:
        - "9090:9090"
      volumes:
        - ./prometheus.yml:/etc/prometheus/prometheus.yml
      networks:
        - dj-net

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        ports:
          - "3000:3000"
        networks:
          - dj-net
        depends_on:
          - prometheus
networks:
  dj-net:
    name: "dj-net"
    driver: bridge

